/* Margin and Padding */
@for $i from 1 through 10 {
  .mt-#{$i * 10}{
    margin-top: 10px * $i;
  }

  .me-#{$i * 10}{
    margin-right: 10px * $i;
  }

  .mb-#{$i * 10}{
    margin-bottom: 10px * $i;
  }
  .ms-#{$i * 10}{
    margin-left: 10px * $i;
  }

  .pt-#{$i * 10}{
    padding-top: 10px * $i;
  }

  .pe-#{$i * 10}{
    padding-right: 10px * $i;
  }
  .pb-#{$i * 10}{
    padding-bottom: 10px * $i;
  }
  .ps-#{$i * 10}{
    padding-left: 10px * $i;
  }
}